#homepage {
    border: None;
    display: flex;
    justify-content: center;
  }

.project {
    padding: 0;
    margin: 0;
    align-items: center;
    aspect-ratio: 2 / 1;
    display: flex;
    justify-content: center;
    width: 100%;
}
.projectLink{
    width: 100%;
    margin: 0;
}

.cinCard{
    aspect-ratio: 2 / 1;
    display: flex;
    padding: 0px ;
}

.row{
    margin: 10px;
}

.projectTitle{
    color: white;
}

.projectLink:hover{
    .projectTitle{
        display: none;
}
}