#homepage {
    border: None;
    display: flex;
    justify-content: center;
  }

.project {
    padding: 12px 0 12px 0;
    margin: 12px 0 12px 0;
    align-items: center;
}
.cinCard{
    height: 130px;
}

p{
    text-align: center;
    margin: 0;
}

.cin{
    width: 100%;
    display: flex;
    margin: 30px;
    align-items: center !important;
    justify-content: center !important;
}

.cards{
    width: 100%;
}