.container{
    display: flex;
    justify-content: space-around;
}
  
a {
    color: rgb(66, 66, 66) !important;
    font-size: larger;
    text-decoration: inherit;
    margin: 0px 20px 0px 20px;
}

nav.navbar{
    /* background-color: rgb(237,255,204,.1); */
    background-color: #FF6600;
    color: white;
}

.me-auto{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly !important;
  }